<!DOCTYPE html>
<!doctype html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Booking Request Updated{% endblock title %}

{% block content %}

   <div class="card" style="padding: 10px 10px 10px">
    <p>Your request has been updated successfully.</p>

    You can check the updated request.</p>


<p>If you have any questions you can reach us by phone: 402-554-1900
    or email: <a href="mailto:gargi.nandy111@gmail.com">unofpstaff@unomaha.edu</a>.</p>
<p>Thank you UNO Food Pantry Staff.</p>
    </div>
{% endblock content %}
</html>